.single-chart {
  width: 100%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
}


.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.grayblue .circle {
  stroke: #546e7a;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: black;
  font-size: 0.5em;
  text-anchor: middle;
}

.percentage_label {
  fill: black;
  font-size: 0.17em;
  text-anchor: middle;
}
